<% layout('/layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/index-card.css">



<ul class="cards pt-5">
<% for (let item of items) {%>
  <li>
    <a href="/items/<%= item._id %>" class="card">
      <% if(item.image.length){ %>
      <img src="<%= item.image[0].url %>"  class=" card__image" alt="" />
      
      <div class="card__overlay ">
        <div class="card__header">
          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
          <img class="card__thumb" src="<%= item.image[0].url %>" alt="" />
<% }%>
          <div class="card__header-text ">
            <h3 class="card__title"><%= item.title %></h3>            
            <span class="card__price">₹ <%= item.price %></span>
          </div>
        </div>
        <p class="card__description"><%= item.description %></p>
      </div>
    </a>      
  </li>
  <% } %>
</ul>